
body{
margin:0;
font-family:Arial;
background:#0d0b14;
color:white;
}

header{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px;
background:#161122;
border-bottom:1px solid #7c3aed;
}

button{
background:#7c3aed;
border:none;
color:white;
padding:12px 20px;
border-radius:10px;
}

.hero{
text-align:center;
padding:80px 20px;
}

.products{
display:flex;
justify-content:center;
gap:20px;
flex-wrap:wrap;
padding:20px;
}

.card{
width:280px;
background:#181325;
border:1px solid #7c3aed;
padding:20px;
border-radius:15px;
text-align:center;
}

.card span{
display:block;
margin:15px 0;
font-size:22px;
color:#c084fc;
}

.wallet{
text-align:center;
padding:40px;
}

.modal{
display:none;
position:fixed;
inset:0;
background:rgba(0,0,0,0.7);
justify-content:center;
align-items:center;
}

.modal-box{
background:#1b1430;
padding:30px;
border-radius:15px;
width:300px;
}

.modal-box input{
width:100%;
margin:10px 0;
padding:10px;
border:none;
border-radius:10px;
}
